* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main_container ::selection {
  background-color: black;
  color: white;
}
.navbar {
  width: 100%;
  height: 70px;
  background-color: #fff;
  color: #767676;
  position: fixed;
  z-index: 9999999;
}
.navbar ul {
  display: flex;
  justify-content: end;
}
.navbar ul li {
  padding: 24px;
}
.navbar ul li a {
  color: black;
  padding: 24px 0;
}
.navbar ul li a:hover {
  color: #ed5f5e;
  transition-duration: 0.5s;
}
.navbar ul .logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
.container_slide {
  width: 100%;
  overflow: hidden;
}
.container_slide .slider {
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 20s slidy linear infinite alternate;
}
.container_slide .slider .slide {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}
.container_slide .slider .slide .image_info {
  position: absolute;
  top: 40%;
  left: 30%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
}
.container_slide .slider .slide .image_info h2 {
  font-size: 70px;
}
.container_slide .slider .slide .image_info h4 {
  font-size: 20px;
}
.container_slide .slider .slide img {
  width: 100%;
  height: auto;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  33% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  80% {
    left: -200%;
  }
  85% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
.service_container {
  box-sizing: border-box;
  width: 100%;
  margin: 100px 0;
}
.service_container .service_info {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  margin: 0 20%;
}
.service_container .service_info h2 {
  padding: 15px 0;
  font-size: 26px;
}
.service_container .service_info i {
  display: block;
  margin: 15px 50px;
  color: #b6b6b6;
  font-size: 14px;
  font-weight: 600;
}
.service_container .service_info .line {
  position: absolute;
  left: 48%;
  right: 50%;
  width: 30px;
}
.service_container .service {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 0 20%;
}
.service_container .service .service_box {
  padding: 30px;
  background-color: #f8f8f8;
}
.service_container .service .service_box i {
  font-size: 26px;
  background-color: #ed5f5e;
  color: white;
  padding: 10px;
}
.service_container .service .service_box h4 {
  margin: 30px 0 20px 0;
  color: #767676;
  font-size: 20px;
  font-weight: 500;
}
.service_container .service .service_box p {
  line-height: 24px;
  color: #767676;
  font-size: 14px;
}
@media screen and (max-width: 1500px) {
  .service_container .service {
    margin: 0 10%;
  }
}
@media screen and (max-width: 991px) {
  .service_container .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5%;
  }
}
@media screen and (max-width: 768px) {
  .service_container .service {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.portfolio {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.portfolio hr {
  position: absolute;
  left: 48%;
  right: 50%;
  width: 30px;
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 1px;
}
.portfolio ul {
  display: flex;
  justify-content: center;
}
.portfolio ul li {
  margin: 25px 8px 40px 8px;
  background-color: #fff;
}
.portfolio ul li .all {
  color: #ed5f5e;
}
.portfolio ul li a {
  display: inline-block;
  padding: 10px 15px;
  letter-spacing: 2px;
  font-size: 12px;
  color: black;
  font-weight: 500;
}
.portfolio ul li a:hover {
  color: #ed5f5e;
  transition-duration: 0.6s;
}
.portfolio .portfolio_image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 20%;
}
.portfolio .portfolio_image img {
  width: 100%;
}
.portfolio .portfolio_image .image_container {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio_image .image_container:hover .project_name {
  transform: translate(0, 0);
}
.portfolio .portfolio_image .image_container .project_name {
  width: 100%;
  height: 100%;
  background-color: #ed5e5ed5;
  position: absolute;
  transform: translate(0, -100%);
  left: 0;
  top: 0;
  transition-duration: 0.5s;
}
.portfolio .portfolio_image .image_container .project_name .project_info {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.portfolio .portfolio_image .image_container .project_name .project_info h4 {
  font-size: 18px;
  margin: 10px 0;
}
.portfolio .portfolio_image .image_container .project_name .project_info p {
  font-size: 14px;
}
@media screen and (max-width: 1500px) {
  .portfolio .portfolio_image {
    margin: 0 10%;
  }
}
@media screen and (max-width: 991px) {
  .portfolio .portfolio_image {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 5%;
  }
}
@media screen and (max-width: 768px) {
  .portfolio .portfolio_image {
    grid-template-columns: 1fr;
    margin: 0 5%;
  }
}
.help_business {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20%;
  gap: 30px;
  padding: 100px 0;
}
.help_business .help_info h2 {
  font-size: 26px;
  color: #434343;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.help_business .help_info hr {
  width: 30px;
  margin-bottom: 30px;
}
.help_business .help_info p {
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 15px;
  color: #767676;
}
.help_business .help_info .contact_us {
  margin-top: 50px;
}
.help_business .help_info .contact_us a {
  padding: 12px 20px;
  background-color: #434343;
  color: #fff;
  font-size: 12px;
}
.help_business .help_info .contact_us a:hover {
  background-color: black;
  transition-duration: 1s;
}
.help_business .help_image img {
  width: 100%;
}
@media screen and (max-width: 1500px) {
  .help_business {
    margin: 0 10%;
  }
}
@media screen and (max-width: 991px) {
  .help_business {
    grid-template-columns: 1fr;
    margin: 0 10%;
  }
}
@media screen and (max-width: 768px) {
  grid-template-columns: 1fr;
  margin: 0 5%;
}
.video_container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.video_container .video_info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.281);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.video_container .video_info h2 {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.video_container .video_info p {
  font-size: 0.9em;
  letter-spacing: 2px;
  margin-top: 15px;
}
.video_container .video_info hr {
  width: 30px;
  text-align: center;
}
.team_members {
  margin: 0 20%;
  padding: 80px 0;
}
.team_members .team_info {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px;
}
.team_members .team_info h2 {
  margin-bottom: 20px;
}
.team_members .team_info hr {
  width: 30px;
  position: absolute;
  left: 48%;
}
.team_members .team_info i {
  color: #767676c4;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
}
.team_members .team_image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.team_members .team_image .image_container {
  background-color: #f8f8f8;
  box-shadow: 0px 0.5px 0px 0px #b1b1b1;
}
.team_members .team_image .image_container img {
  width: 100%;
  margin-bottom: px;
}
.team_members .team_image .image_container h4 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 4px;
  font-size: 15px;
  color: #767676c4;
  letter-spacing: 0.7px;
}
.team_members .team_image .image_container p {
  text-align: center;
  padding-bottom: 10px;
  font-size: 11px;
  color: #767676c4;
  font-weight: 600;
}
@media screen and (max-width: 1500px) {
  .team_members {
    margin: 0 10%;
  }
}
@media screen and (max-width: 991px) {
  .team_members .team_image {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .team_members .team_image {
    grid-template-columns: 1fr;
  }
}
.skills_section {
  background-color: #f8f8f8;
  padding: 80px 0;
  color: #767676c4;
}
.skills_section .skills_info {
  margin: 0 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.skills_section .skills_info h2 {
  font-size: 26px;
  color: #434343;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.skills_section .skills_info hr {
  width: 30px;
}
.skills_section .skills_info .skills_percent {
  margin: 20px 0;
}
.skills_section .skills_info .skills_percent .skills {
  margin: 15px 0 30px 0;
  height: 3px;
  width: 100%;
  background-color: #f0f0f0;
}
.skills_section .skills_info .skills_percent .skills .coding {
  width: 80%;
  height: 100%;
  background-color: #ed5f5e;
}
.skills_section .skills_info .skills_percent .skills .design {
  width: 90%;
  height: 100%;
  background-color: #ed5f5e;
}
.skills_section .skills_info .skills_percent .skills .branding {
  width: 60%;
  height: 100%;
  background-color: #ed5f5e;
}
.skills_section .skills_info .skills_percent .skills .marketing {
  width: 73%;
  height: 100%;
  background-color: #ed5f5e;
}
.skills_section .skills_info .skills_percent .skills .consultancy {
  width: 75%;
  height: 100%;
  background-color: #ed5f5e;
}
.skills_section .skills_info .skills_percent h4 {
  font-weight: 500;
  font-size: 14px;
  color: #434343;
}
.skills_section .skills_info .choose_us .choose_us_info {
  background-color: #fff;
}
.skills_section .skills_info .choose_us .choose_us_info > div {
  padding: 0px 40px;
}
.skills_section .skills_info .choose_us .choose_us_info > div hr {
  width: 100%;
  border: 1px solid #f8f8f8;
}
.skills_section .skills_info .choose_us .choose_us_info > div div {
  position: relative;
  display: block;
}
.skills_section .skills_info .choose_us .choose_us_info > div div:hover {
  cursor: pointer;
}
.skills_section .skills_info .choose_us .choose_us_info > div p {
  display: inline-block;
  padding: 25px 0;
}
.skills_section .skills_info .choose_us .choose_us_info > div p b {
  font-size: 20px;
  position: absolute;
  right: 0%;
  display: inline-block;
  color: #434343;
}
@media screen and (max-width: 1500px) {
  .skills_section .skills_info {
    margin: 0 10%;
  }
}
@media screen and (max-width: 991px) {
  .skills_section .skills_info {
    grid-template-columns: 1fr;
  }
}
.testimonials_section .report {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 80px 20%;
  gap: 60px;
}
.testimonials_section .report div {
  display: flex;
  flex-direction: row;
}
.testimonials_section .report div i {
  font-size: 23px;
  background-color: #ed5f5e;
  color: white;
  width: 44px;
  height: 44px;
  display: inherit;
  align-items: center;
  justify-content: center;
}
.testimonials_section .report div h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0 18px;
  justify-content: center;
  font-weight: 900;
}
.testimonials_section .report div p {
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
}
.testimonials_section .testimonials {
  background-image: url('../images/testimonial-bg.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.testimonials_section .testimonials .testimonials_info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.459);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #f8f8f8;
}
.testimonials_section .testimonials .testimonials_info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 20px 0;
}
.testimonials_section .testimonials .testimonials_info hr {
  width: 30px;
  display: block;
  position: absolute;
  left: 48%;
}
.testimonials_section .testimonials .testimonials_info h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.testimonials_section .testimonials .testimonials_info p {
  margin-top: 70px;
  margin-bottom: 20px;
  font-style: italic;
  line-height: 1.8em;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.testimonials_section .testimonials .testimonials_info h4 {
  font-size: 11px;
  color: #fcfcfc;
  letter-spacing: 1px;
}
.testimonials_section .testimonials .testimonials_info .buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
.testimonials_section .testimonials .testimonials_info .buttons .button_left {
  color: #909090;
  width: 32px;
  height: 32px;
  font-size: 24px;
  background-color: white;
}
.testimonials_section .testimonials .testimonials_info .buttons .button_left:hover {
  background-color: #ed5f5e;
  color: #f0f0f0;
  transform: translate();
  transition-duration: 0.5s;
}
.testimonials_section .testimonials .testimonials_info .buttons .button_right {
  color: #909090;
  width: 32px;
  height: 32px;
  font-size: 24px;
  background-color: white;
}
.testimonials_section .testimonials .testimonials_info .buttons .button_right:hover {
  background-color: #ed5f5e;
  color: #f0f0f0;
  transform: translate();
  transition-duration: 0.5s;
}
@media screen and (max-width: 1500px) {
  .testimonials_section .report {
    margin: 80px 10%;
  }
}
@media screen and (max-width: 991px) {
  .testimonials_section .report {
    margin: 80px 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.blog_posts_section {
  margin: 80px 0;
}
.blog_posts_section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: #434343;
  letter-spacing: 1px;
}
.blog_posts_section > hr {
  display: block;
  width: 30px;
  text-align: center;
  position: absolute;
  left: 49%;
}
.blog_posts_section > i {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #b6b6b6;
  font-weight: 600;
  margin-top: 50px;
}
.blog_posts_section .blog_posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
  margin: 30px 20%;
}
.blog_posts_section .blog_posts img {
  width: 100%;
  height: 100%;
}
.blog_posts_section .blog_posts .blog_post_1 {
  height: max-content;
  display: inherit;
  grid-template-rows: 1fr max-content;
  background-color: #f8f8f8;
}
.blog_posts_section .blog_posts .blog_post_2 {
  height: max-content;
  display: inherit;
  grid-template-rows: 1fr max-content;
  background-color: #f8f8f8;
}
.blog_posts_section .blog_posts .blog_post_3 {
  height: max-content;
  display: inherit;
  grid-template-rows: 1fr max-content;
  background-color: #f8f8f8;
}
.blog_posts_section .blog_posts .blog_post_info {
  margin: 10px 20px;
  font-size: 12px;
  color: #909090;
}
.blog_posts_section .blog_posts .blog_post_info .comments {
  float: right;
}
.blog_posts_section .blog_posts .blog_post_body {
  margin: 24px 20px;
  line-height: 1.6em;
  color: #909090;
}
.blog_posts_section .blog_posts .blog_post_body h3 {
  margin-bottom: 20px;
}
.blog_posts_section .blog_posts .blog_post_body a {
  display: block;
  margin-top: 35px;
  color: #ed5f5e;
  font-size: 14px;
  font-weight: 600;
}
.blog_posts_section .blog_posts .blog_post_body a:hover {
  color: #eb4848;
  transition-duration: 0.5s;
}
.blog_posts_section .buttons_blog_posts {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.blog_posts_section .buttons_blog_posts .left_button {
  width: 32px;
  height: 32px;
  background-color: #434343;
  color: #909090;
  font-size: 24px;
  text-align: center;
}
.blog_posts_section .buttons_blog_posts .left_button:hover {
  background-color: #ed5f5e;
  color: #f0f0f0;
  transition-duration: 0.5s;
}
.blog_posts_section .buttons_blog_posts .right_button {
  width: 32px;
  height: 32px;
  background-color: #434343;
  color: #909090;
  font-size: 24px;
  text-align: center;
}
.blog_posts_section .buttons_blog_posts .right_button:hover {
  background-color: #ed5f5e;
  color: #f0f0f0;
  transition-duration: 0.5s;
}
@media screen and (max-width: 1500px) {
  .blog_posts_section .blog_posts {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    margin: 30px 10%;
  }
}
@media screen and (max-width: 991px) {
  .blog_posts_section .blog_posts {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    margin: 30px 5%;
  }
  .blog_posts_section .blog_posts .blog_post_3 {
    display: none;
  }
}
.our_clients_section {
  background-color: #f8f8f8;
  padding: 50px 0;
  color: #767676;
  width: 100%;
  overflow: hidden;
}
.our_clients_section h2 {
  text-align: center;
  margin: 20px 0;
}
.our_clients_section hr {
  width: 30px;
  position: absolute;
  left: 49%;
  display: block;
}
.our_clients_section .our_clients_slide .our_clients {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 20%;
}
.our_clients_section .our_clients_slide .our_clients :nth-child(4n+2) {
  display: none;
}
.our_clients_section .our_clients_slide .our_clients .clients_slide {
  width: 218px;
  margin: 60px 0;
}
.our_clients_section .our_clients_slide .our_clients .clients_slide img {
  max-width: 120px;
  opacity: 0.5;
}
.our_clients_section .our_clients_slide .our_clients .clients_slide img:hover {
  opacity: 1;
}
.contact_section {
  margin: 80px 0;
}
.contact_section h2 {
  text-align: center;
  font-size: 26px;
  letter-spacing: 1px;
  color: #434343;
  margin-bottom: 16px;
}
.contact_section hr {
  display: block;
  width: 30px;
  position: absolute;
  left: 49%;
}
.contact_section > i {
  display: block;
  text-align: center;
  margin: 35px 20% 50px 20%;
}
.contact_section .contact_part {
  display: grid;
  grid-template-columns: minmax(200px, 1.5fr) minmax(100px, 1fr);
  gap: 40px;
  margin: 0 20%;
}
.contact_section .contact_part .left_part .contact_input {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'your_name e_mail' 'your_message your_message';
}
.contact_section .contact_part .left_part .contact_input .your_name {
  grid-area: your_name;
}
.contact_section .contact_part .left_part .contact_input .your_name input {
  width: 100%;
  background-color: #f8f8f8;
  border: none;
  height: 40px;
  text-indent: 20px;
}
.contact_section .contact_part .left_part .contact_input .e_mail {
  grid-area: e_mail;
}
.contact_section .contact_part .left_part .contact_input .e_mail input {
  width: 100%;
  background-color: #f8f8f8;
  border: none;
  height: 40px;
  text-indent: 20px;
}
.contact_section .contact_part .left_part .contact_input .textarea {
  grid-area: your_message;
}
.contact_section .contact_part .left_part .contact_input .textarea textarea {
  width: 100%;
  background-color: #f8f8f8;
  border: none;
  text-indent: 20px;
  padding-top: 15px;
}
.contact_section .contact_part .left_part .submit {
  margin-top: 20px;
}
.contact_section .contact_part .left_part .submit input {
  background-color: #ed5f5e;
  color: white;
  border: none;
  padding: 10px 15px;
  letter-spacing: 1px;
}
.contact_section .contact_part .left_part .submit input:hover {
  background-color: #ee3e3e;
  transform: translate();
  transition-duration: 0.5s;
}
.contact_section .contact_part .right_part > p {
  margin-bottom: 35px;
  font-size: 14px;
  color: #767676;
  font-weight: 500;
}
.contact_section .contact_part .right_part .right_contact div {
  display: flex;
  margin-bottom: 12px;
  align-content: center;
}
.contact_section .contact_part .right_part .right_contact div .icon {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 18px;
}
.contact_section .contact_part .right_part .right_contact div .icon i {
  width: 100%;
  height: 100%;
  background-color: #ed5f5e;
  color: white;
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.contact_section .contact_part .right_part .right_contact div .contact_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact_section .contact_part .right_part .right_contact div .contact_info h5 {
  font-size: 16px;
  font-weight: 700;
}
.contact_section .contact_part .right_part .right_contact div .contact_info p {
  font-size: 0.9em;
}
@media screen and (max-width: 1500px) {
  .contact_section .contact_part {
    grid-template-columns: minmax(200px, 1.5fr) minmax(100px, 1fr);
    margin: 0 10%;
  }
}
@media screen and (max-width: 991px) {
  .contact_section .contact_part {
    grid-template-columns: minmax(200px, 1.5fr) minmax(100px, 1fr);
    margin: 0 5%;
  }
}
@media screen and (max-width: 768px) {
  .contact_section .contact_part {
    grid-template-columns: minmax(100px, 1fr);
    margin: 0 5%;
  }
}
